@import url('https://fonts.cdnfonts.com/css/calculator');

* {
    
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
}

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    font-size: 1.15rem;
    font-family: 'Courier New', Courier, monospace;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: 2px outset black;
    background-color: rgb(189, 189, 189);
}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;

    margin: 5px;
}

#solution {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    background-color:  rgb(211, 211, 211);
    border-radius: 15px;
    border: 3px solid  rgb(204, 204, 204);

}

#numeric-solution {
    flex: 1;
    height: 80%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.5rem;

    background-color: rgb(55, 161, 55);
    border-radius: 12px;
    border: 2px inset black;
    font-family: 'Calculator', sans-serif;
}

.key-container {
    flex: 4;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.operator,
.option {
    background-color: rgb(212, 212, 212);
}

.operator:hover, 
.option:hover {
    background-color: rgb(197, 197, 197);
}

.key {
    background-color: rgb(241, 241, 241);
}

.key:hover {
    background-color: rgb(228, 228, 228);
}

#equal{
    background-color: rgb(47, 47, 224);
    color: white;
}

#equal:hover {
    background-color: rgb(42, 42, 201);
}

#clear{
    background-color: rgb(255, 68, 0);
    color: white;
}

#clear:hover {
    background-color: rgb(238, 63, 0);
}

.instruction-container{
    background-color: rgb(255, 217, 0);
    color:black;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px outset orangered;
}